@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal reset tuning for Momentum */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-neutral-100 text-gray-900 antialiased;
}

@layer components {
  .btn-primary {
    @apply bg-neutral-700 text-white hover:bg-neutral-800;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
